/* All Rights Reserved. © disgin.website */

.about__section-image {
  border-radius: 50% !important;
  overflow: hidden !important;
  transform: skew(15deg) !important;
  transition: var(--t) !important;
}

.about__section-image:nth-child(2) {
  transform: skew(-15deg) !important;
}

.about__section-image:hover {
  transform: skew(0) !important;
}

.about__section-content h1 {
  margin-bottom: 2rem !important;
}

.about__section-content p {
  margin-bottom: 1rem !important;
}

.about__story-container,
.about__mission-container {
  display: grid !important;
  grid-template-columns: 40% 50% !important;
  gap: 10% !important;
}

.about__vision-container {
  display: grid !important;
  grid-template-columns: 50% 40% !important;
  gap: 10% !important;
}

/* //////////////////MEDIA QUERIES//////////////////// */
@media screen and (max-width: 1024px) {
  .about__section-image {
    width: 60% !important;
  }
  .about__section-content h1 {
    margin-bottom: 1.2rem !important;
  }
  .about__story-container,
  .about__vision-container,
  .about__mission-container {
    grid-template-columns: 1fr !important;
    gap: 3rem !important;
  }
  .about__vision,
  .about__section-image {
    grid-row: 1 !important;
  }
}

@media screen and (max-width: 600px) {
  .about__section-image {
    width: 80% !important;
    margin-inline: auto !important;
  }
  .about__story-container,
  .about__vision-container,
  .about__mission-container {
    gap: 2rem !important;
  }
}
